<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
<meta name="format-detection" content="telephone=no,email=no,date=no,address=no" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title></title>
<!--[if lt IE 10]>
<script src="./js/html5.js"></script>
<script src="./js/ie.js"></script>
<![endif]-->
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="./css/base.css"/>
<link rel="stylesheet" href="./css/style.css"/>
</head>
<body>
<div class="todo">
	<div class="insert">
		<textarea placeholder="Ctrl+Enter = 提交"></textarea>
	</div>
	<div id="blocks"></div>
</div>
<script type="text/x-jquery-tmpl" id="tmpl_block">
	{{each datas}}
	{{if items&&items.length}}
	<div class="block">
		<div class="title">
			<strong title="${util.formatDate(title)}">${util.formatTitle(title)}</strong>
			{{if labels&&labels.length}}
			<span class="labels">
				<em class="rod"></em>
				{{each labels}}<a class="label">${name}</a>{{/each}}
			</span>
			{{/if}}
		</div>
		<ul class="items">
			{{each items}}
				{{tmpl($value) "#tmpl_item"}}
			{{/each}}
		</ul>
	</div>
	{{/if}}
	{{/each}}
</script>
<script type="text/x-jquery-tmpl" id="tmpl_item">
	<li class="item">
		<span class="tags">
		{{if tags&&tags.length}}
			{{each tags}}
			<a class="tag"><i class="cage-l"></i><b class="editable">${name}</b><i class="cage-r"></i></a>
			{{/each}}
			<em class="dot"></em>
		{{else}}
			<a class="tag null"><i class="cage-l"></i><b class="editable">    </b><i class="cage-r"></i></a>
		{{/if}}
		</span>
		<a class="txt editable">${txt}</a>
		<p class="meta">
			<a class="eTag"><i class="iconfont icon-tag"></i></a>
			<a class="eTime"><i class="fa fa-calendar-o"></i></a>
		</p>
		<!--<a class="movehandle"></a>-->
	</li>
</script>
</body>
<script src="js/libs/jquery/jquery.js"></script>
<script src="js/libs/moment/moment.min.js"></script>
<script src="js/libs/tmpl/jquery.tmpl.min.js"></script>
<script src="js/base.js"></script>
<script src="js/index.js"></script>
</html>